/*Body*/
body {
    font-family: 'Times New Roman', Times, serif, ;
  }
  /*End Body*/
  
  /*Content*/
  .page-content{
      min-height: calc(100vh - 56px);
  }
  /*End Content*/

/*Header*/
.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #003750;
    border: 0;
    display: flex !important;
    padding-left: 0.6rem;
  }
  .navbar .navbar-brand {
    color: #ffffff;
    font-weight: bold; 
    font-style: italic;
  }
  .navbar .navbar-toggler {
    border: 0;
  }
  
  .navbar .navbar-nav .nav-link {
    font-weight: bold;
    color: #ffffff;
    
  }
  .ml-auto {
    margin-left: inherit;
  }
  .navbar a:hover {
    background-color: #000;
  }
  .dropdown-bg {
      background-color:#003750;
  }
  .navbar-dark .navbar-nav .show>.nav-link {
    color: #ffffff;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
      color: white;
  }
  /*Media Query For Navbar*/
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
    .navbar-brand {
      font-size: 20px;
    }
  }
  /*End Header*/  


/* HOME PAGE */

.jumbotron {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Montserrat";
    text-align: center;
}

.mainsite-button {
    text-align: center;
}

.mainsite-button a {
    color: #ffffff;
    margin-top: 10px;
    font-size: 22px;
}

#gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hero-image {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}


/*Footer*/
.footer {
    background-color:#003750;
    color: #ffffff;
    min-height: 80px;
    width: 100%;
    bottom: 0px;
    margin-top: auto;
  }
  .footer-div {
      padding-top: 10px;
  }
  .social-links {
    padding-bottom: 10px;
  }
  .social-links li a i {
    width: 32px;
    height: 32px;
    padding: 10px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  .social-links li a i:hover {
    background: #000;
    color: white;
  }
  #footer-details {
    padding: 10px;
    text-align: center;
  }
  /*End Footer*/