{% extends "base.html" %} {% block content %}

<div class="container-fluid img-fluid">
    <!--Page Heading-->
    <div class="recipe-text">
        <h2 class="recipe-header">Recipe Description</h2>
    </div>
    <div class="row">
        <div class="col-sm-8" style="display: block; text-align: center;">
            <img class="recipes-desc-img" style="vertical-align: middle; border-style: none; width: 75%; padding-bottom: 60px;" src="{{recipes.image_link}}" alt="{{recipes.recipes_name}}" />
        </div>
        <div class="col-sm-4" style="padding-right: 4%;">
            <h6>Category: {{recipes.recipe_category}}</h6>
            <h6>Recipe : {{recipes.recipe_name}}</h6>
            <h6>Calories : {{recipes.calories}}</h6>
            <h6>Carbs : {{recipes.carbs}}</h6>
            <h6>Protein : {{recipes.protein}}</h6>
            <h6>Fat : {{recipes.fat}}</h6>
            <h6>Serves : {{recipes.servings}}</h6>
            <h6>Prep Time : {{recipes.prep_time}}</h6>
            <h6>Cook Time : {{recipes.cook_time}}</h6>
            <br />
            <h4>Description</h4>  <h6> {{recipes.description}}</h6>
        </div>
    </div>
    <div class="col-10" style="padding-right: 4%; margin: auto; padding-bottom: 30px;">
        <h1>Ingredients<h1> <h6> {{recipes.ingredients}}</h6>
        <h2>Method</h2> <h6> {{recipes.method}}</h6>
    </div>
</div>

{% endblock %}
