{% extends "base.html" %} {% block content %}


    <!--DIDN'T USE THE NAVBAR IN BASE.HTML AS I NEEDED TO BOTTOM MARGIN ON THE HEADER FOR THE HERO IMAGE-->
    
            <!--Navbar-->
            <div class="container-fluid">
                <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
                    <a href="{{url_for ('home') }}" class="navbar-brand active"><i class="fa fa-utensils list-inline-item" aria-hidden="true"></i>My Cook Book</a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-SupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbar-Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Category
                                </a>
                                <!--Category Dropdown List-->
                                <div class="dropdown-menu dropdown-bg" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item nav-link" href="{{ url_for('recipe', categories='All') }}">All</a>
                                    <a class="dropdown-item nav-link" href="{{ url_for('recipe', categories='Breakfast') }}">Breakfast</a>
                                    <a class="dropdown-item nav-link" href="{{ url_for('recipe', categories='Lunch') }}">Lunch</a>
                                    <a class="dropdown-item nav-link" href="{{ url_for('recipe', categories='Dinner') }}">Dinner</a>
                                    <a class="dropdown-item nav-link" href="{{ url_for('recipe', categories='Snacks') }}">Snacks</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for ('contact') }}">Contact</a>
                            </li>
                            {% if session.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for ('mypage') }}">My Page</a>
                            </li>
                            {% if session.user|lower == "admin@gmail.com"|lower %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('get_categories') }}">Manage Categories</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for ('logout') }}">Sign Out</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for ('login') }}">Sign In/Sign Up</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>

            <!--Navbar-->


        <!-- Hero Image -->

       
            <div class="hero-image">
                <div class="recipe-text">
                    <h2 class="recipe-header">Featured Recipes</h2>
                </div>
            </div>
                <div class="container">
                    <div class="row" style="justify-content: space-between;">
                        {% for recipe in recipes %}
                        <div class="col-12 col-md-6 col-lg-3 recipe-read" style="box-shadow: rgba(0, 0, 0, 35%) 0px 5px 15px;">
                            <img class="recipe-img" src="{{ recipe.image_link }}" alt="{{ recipe.recipe_name }}" />
                            <div class="recipe-title">
                                <h5 class="card-title">{{recipe.recipe_name}}</h5>
                                <hr />
                                <p class="card-text">{{recipe.cook_time}}</p>
                                <a href="{{ url_for('recipes', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    </div>
                </div>

                {% endblock %}
            



