<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
 
    <head>
    <!--DIDN'T USE THE NAVBAR IN BASE.HTML AS I NEEDED TO BOTTOM MARGIN ON THE HEADER FOR THE HERO IMAGE-->
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
            <script src="https://kit.fontawesome.com/449fb42052.js" crossorigin="anonymous"></script>
            <title>My Cook Book</title>
    </head>
    <body>
            <header>
        <!--Navbar-->
        <div class="container-fluid">
            <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
                <a href="{{url_for ('home') }}" class="navbar-brand active"><i class="fa fa-utensils list-inline-item"
                        aria-hidden="true"></i>My Cook Book</a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href=""
                                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Category
                            </a>
                            <!--Category Dropdown List-->
                            <div class="dropdown-menu dropdown-bg" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-link"
                                    href="{{ url_for('recipe', categories='All') }}">All</a>
                                <a class="dropdown-item nav-link"
                                    href="{{ url_for('recipe', categories='Breakfast') }}">Breakfast</a>
                                <a class="dropdown-item nav-link"
                                    href="{{ url_for('recipe', categories='Lunch') }}">Lunch</a>
                                <a class="dropdown-item nav-link"
                                    href="{{ url_for('recipe', categories='Dinner') }}">Dinner</a>
                                <a class="dropdown-item nav-link"
                                    href="{{ url_for('recipe', categories='Snacks') }}">Snacks</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{url_for ('contact') }}">Contact</a>
                        </li>
                        {% if session.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for ('mypage') }}">My Page</a>
                        </li>
                        {% if session.user|lower == "admin@gmail.com"|lower %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{url_for ('logout') }}">Sign Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{url_for ('login') }}">Sign In/Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        
        <!--Navbar-->
    </header>

    

     <!-- Hero Image -->
     <div class="hero-image" >
        <div class="card">
            <img src="https://fitfoodiefinds.com/wp-content/uploads/2019/05/blueberry-smoothie-683x1024.jpg" alt="Avatar" style="width:50%">
            <div class="container">
              <h4><b>Banana & Blueberry Smoothie</b></h4>
              <p>Cook Time - 2 mins</p>
            </div>
            </div> 
        
        <div class="card-right">
            <img src="https://images.unsplash.com/photo-1528207776546-365bb710ee93?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Avatar" style="width:50%">
            <div class="container">
              <h4><b>Ricotta Pancakes</b></h4>
              <p>Cook Time - 5 mins</p>
            </div>
            </div> 
    </div>

    
    <div class="jumbotron">
        <!-- heading -->
        <h1 class="heading">Welcome<br/></h1>
        <!-- enter button to access website -->
        <img id="gif" alt="gif" src="https://media.giphy.com/media/3IQ0wimBnJ9SccyJpS/giphy.gif" />
        <div class="mainsite-button">
            <a href="{{url_for('recipe')}}" class="button btn btn-success btn-lg">Enter</a>
        </div>
    </div>

    
    
    
    {% endblock %}

    
    
    <!--Footer-->
<footer class="footer footer-div mt-auto container-fluid">
    <div id="footer-details" class="row">
        <!--Copyright-->
        <div class="col-sm-6">
            <h5 class="uppercase general-sub"> <i class="fa fa-copyright list-inline-item"
                    aria-hidden="true"></i> 2021</h5>
        </div>
        <!--Social Links-->
        <div class="col-sm-6">
            <ul class="list-inline social-links">
                <li class="list-inline-item">
                    <a target="_blank" rel="noopener" href="https://www.facebook.com">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" rel="noopener" href="https://www.twitter.com">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" rel="noopener" href="https://www.instagram.com">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" rel="noopener" href="https://www.youtube.com">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <span class="sr-only">YouTube</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<!--footer-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>